{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--Head-->
{% include 'components/head.html' %}
{% block head %} {% endblock %}

{% include 'components/navbar.html' %}
{% block header %} {% endblock %}

<p class="w-3/6 mx-auto text-center mt-4">
    Try using our recipe search engine to find a recipe that includes those ingredients. Simply enter the ingredients below that you have on hand and our
    search engine should be able to suggest some recipes that you can try.
</p>

<div class="w-full mt-6 mb-20">
    <form method="POST" class="flex flex-col bg-gray-100 w-1/3 mx-auto bg-gray-100 shadow-inner p-6 space-y-2 rounded">
        {% csrf_token %}
        <input id="ingredient-1" name="ingredient-1" placeholder="Cheese" class="w-full p-3 pl-2 shadow-inner"
            required></input>
        <input id="ingredient-2" name="ingredient-2" placeholder="Potatoes" class="w-full p-3 pl-2 shadow-inner"
            required></input>
        <input id="ingredient-3" name="ingredient-3" placeholder="Broccoli" class="w-full p-3 pl-2 shadow-inner"
            required></input>
        <div id="content" class="w-full flex items-center justify-between space-x-2">
            <button id="submit"
                class="p-3 pl-2 text-white bg-gray-800 hover:bg-gray-700 w-1/2 mx-auto shadow-lg font-bold rounded-full hover:shadow-md mt-2">Search</button>
            <a id="add-ingredient"
                class="p-3 pl-2 bg-white w-1/2 mx-auto cursor-pointer font-bold rounded-full shadow-lg hover:shadow-md text-center mt-2">Add</a>
            <div>
    </form>
</div>

{% include 'components/footer.html' %}
{% block footer %} {% endblock %}

<script>
    let ingredientCount = 3;
    let addIngredientButton = document.getElementById("add-ingredient");
    let content = document.getElementById("content");

    addIngredientButton.addEventListener("click", () => {
        ingredientCount++;

        let ingredientInput = document.createElement("input");
        ingredientInput.id = "ingredient-" + ingredientCount;
        ingredientInput.name = "ingredient-" + ingredientCount;
        ingredientInput.placeholder = "Ingredient";
        ingredientInput.className = "w-full p-3 pl-2 shadow-inner";

        content.before(ingredientInput);
    });
</script>

</html>